@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin:0;
  padding:0;
  align-items: center;
  width:100%;
  background-color: #1b1c1b;
  font-family: "Montserrat", sans-serif;
}


ul{
  list-style-type: none;
}

h2{
  color:white;
}


.body{
   background-color: #1b1c1b;

}
.login-body{
  width:100%;
  height:100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:relative;
  max-width:600px;
  margin:150px auto;
  background-color:#222422;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:outset;
  border-color:#4a4d4a;

}

.add-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:fixed;
  left:30%;
  max-width:600px;
  height:700;
  margin:1px auto;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  top:30%;
  z-index:3;


}
.edit-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:fixed;
  left:30%;
  max-width:600px;
  height:700;
  margin:1px auto;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  top:30%;
  z-index:3;


}

.fields{
  padding:20px;
  width: 83%;
  height:25px;
  border-style: solid;
  border-radius:30px;
  border-width:0.1px;
  background-color:#878786;
  border-color:white;
  margin:30px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color:white;
}

.loginBtn{
  width:80%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  height:50px;
  margin:50px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:18px;
  font-weight:bold;
}

.addUsers{
  width:50%;
  background-image: linear-gradient(to right, #32bf71, #096E22);
  border-style: none;
  border-radius:30px;
  height:50px;
  margin-top:5%;
  margin-left:25%;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:18px;
  font-weight:bold;
}

.dashboard{
  background-color:#1b1c1b;
  height:700px;
  max-width:2000px;
}

.users{
   background-color: #1b1c1b;
  align-items: center;
  max-width:2000px;
  height:4000px;      
}

.header{
  display:flex;
 background-image: linear-gradient(to right, #32bf71, #096E22);
  color:white;
  padding:20px;
}

.menu{
  margin:18px;
  width:3%;
  height:3%;
}

.sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #32bf71, #096E22);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.link-list{
  list-style-type: none;
}

.openBtn{
  width:5%;
  height:3%;
  font-size:30px;
  background-color:transparent;
  border-style: none;
  color:white;
  padding:20px;

}

.sidebar .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color:transparent;
  color:white;
  border-style: none;
}

.closeBtn2{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color:transparent;
  color:white;
  border-style: none;

}

a{
  text-decoration:none;
  color:white;
}

.navlink{
  margin:0;
  padding:10px;
}

.navlink:hover{
  background-color:#186318;
}

.u-table{
	border-collapse:collapse;
	background-color:white;
	text-align:left;
	overflow:hidden;
  width:70%;
	position:relative;
	margin-left:15%;
  margin-top:5%;
  align-items:center;
  table-layout: fixed;
}


table{
	padding:40px;
}


.action-td{
  padding-left:1px;
}

th{
	padding:30px;
	text-transform:uppercase;
	letter-spacing:0.1rem;
	font-size:0.8rem;
	font-weight:900;
  text-align:center;
  background-color: black;
  color:white;
}

td{
	padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#404040;
  color:white;
  font-size:15px;
  white-space: normal;   
  word-break: break-word; 
  width:150px;
}

.deleteBtn{
  background-color:transparent;
  border-style:none;
  padding:0;
  width:10%;
  margin-left:8%;
}




.editBtn{
  background-color:transparent;
  border-style:none;
  padding:0;
  width:10%;
  margin:0;
  
}



.delete-icon{
  width:70%;
  height:70%;
  margin:0;
}

.edit-icon{
  width:70%;
  height:70%;
  margin:0;
}

.item{
  width: 190px;
  display:flex;
  align-items:center;
  flex-direction: column;
  gap:10px;
  padding: 10px 1rem;
  border-radius: 10px;
  background: var(--accent-color);
  box-shadow: 0px 10px 15pz -3px rgba(0, 0, 0, 0.1);
  text-align:center;
  color:var(--text-color);
}

.item-display{
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  align-items: center;
  margin-top:5%;
}

.item_card{
  width:210px;
  height:285px;
  color:white;
  background-color:#323336;
  border-radius:20px;
  margin-bottom:10%;
}


.catalog_image{
  width:90%;
  height:53%;
  border-radius:20px;
  margin-left:4%;
  margin-top:4%;
}

.edit_image{
  width:20%;
  height:53%;
  border-radius:20px;
  margin-left:40%;
  margin-top:4%;
}


.catalog_name{
  font-weight:bold;
  margin:5%;
}

.catalog_price{
  margin:5%;
}

.itemDisplay{
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  align-items: center;
  margin-top:5%;
}

.itemCard{
  width:215px;
  height:275px;
  color:white;
  border-radius:20px;
  margin-bottom:10%;
}

.catalogImage{
  width:90%;
  height:63%;
  border-radius:20px;
  margin-left:4%;
  margin-top:4%;
}

.catalogImage:hover {
  filter: brightness(0.6); 
}

.catalogName{
  font-weight:bold;
  margin:5%;
}

.catalogName:hover{
  color:gray;
}



.catalogPrice{
  margin:5%;
}


.addCatalog{
  width:20%;
  height:50px;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-weight:bold;
  margin-top:9%;
  margin-left:50%;
  text-align:center;
}

.addCatalog:hover{
  
  background-color:#186318;
}


.addCatalogTxt{
  top:1%;
}

.catalog-top{
  display:flex;
  margin-left:43%;
}

.hero-image{
  width:100%;
  height:600px;
}

.hero-text{
  color:white;
  position:absolute;
  top:20%;
  font-size:70px;
  left:4%;
  width:35%;
}

.search{
  position:absolute;
  top:70%;
  left:4%;
  width: 35%;
  height:30px;
  border-style: none;
  border-radius:35px;
  background-color:white;
  font-family: "Montserrat", sans-serif;
  color:black;
  padding:20px;
}




.category-list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding:0;
  margin:0;
  z-index:1;
}

.categories-display{
  width:90%;
  z-index:1;
}

.category_card{
  position:relative;
  overflow:hidden;
  width:100%;
  top:10%;
  left:15%;

}

.category_image{
  width:99%;
  height:300px;
}

.overlay{
  position:absolute;
  color:white;
  font-weight:bold;
  top:-10%;
  font-size:30px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  height:100%;
  transition: .5s ease;
  opacity:0;
  padding-top: 30%;
  text-align: center;
}


.category_card:hover .overlay {
  opacity: 1;
}

.cat-label{
  color:white;
  font-size:50px;
  text-align:center;
  padding:0;
  margin-top:8%;
}

.addItemForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:fixed;
  left:30%;
  max-width:600px;
  height:700;
  margin:15px auto;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  top:5%;
}

.editItemForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:fixed;
  left:30%;
  max-width:600px;
  height:700;
  margin:1px auto;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  top:1%;
}

.editImage{
  width:10%;
  height:10%;
}
.addBtn{
  width:80%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  height:50px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:50px;
  margin-top:20px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:18px;
  font-weight:bold;

}

input[type="file"]::file-selector-button {
  background-image: linear-gradient(to right, #56C789, #096E22);
  color: white;
  padding: 10px 15px;
  border-style: none;
  border-radius:30px;
  cursor: pointer;
  margin-top:-1%;
}

.overlay-btns{
  display:flex;
  width:30%;
  margin-left:29%;
  position:absolute;
  margin-top:1%;
  right:70%;
  z-index:2;
  top:1%;
}

.editCatalog{
   width:30%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-weight:bold;
  margin:5%;
  height:10%;
  font-size:80%;
}

.deleteCatalog{
  width:35%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-weight:bold;
  margin:5%;
  height:10%;
  font-size:80%;
}



.addCategoryBtn{
  width:20%;
  height:50px;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-weight:bold;
  margin-top:3%;
  margin-left:40%;
  text-align:center;
 
}

.addCategoryBtn:hover{
  background-color:#186318;
}

.addCatForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:fixed;
  left:30%;
  max-width:600px;
  height:700;
  margin:15px auto;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  z-index:3;
  top:18%;
}

.basket-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:40%;
}

.order-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:40%;
  top:40%;
}

.cancel-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:38%;
  top:40%;
}


.add-menu-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:38%;
  top:40%;
}

.del-menu-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:38%;
  top:40%;
}

.upd-menu-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:36%;
  top:40%;
}

.add-user-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:38%;
  top:40%;
}

.upd-user-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:36%;
  top:40%;
}

.del-user-popup{
  background-color: #1b1c1b;
  border-color:#4a4d4a;
  padding:55px;
  z-index:3;
  position:fixed;
  color:white;
  border-style:double;
  border-radius:20px;
  left:38%;
  top:40%;
}

.editIcon{
  width:55%;
}

.deleteIcon{
  width:45%;
}

.editIcon2{
  width:45%;
}

.deleteIcon2{
  width:38%;
}

.editCategoryForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:fixed;
  left:30%;
  max-width:600px;
  height:700;
  margin:1px auto;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  top:30%;
  z-index:3;
}

.item-details{
  display:flex;
  padding:6%;
  background-color: #242423;
  margin:5%;
}

.details{
  margin-left:5%;
  width:50%;
}

.itemPicture{
  width:55%;
  height:430px;
}

.itemName{
  color:white;
}

.itemPrice{
  color:white;
}

.itemDesc{
  color:white;
}


.item_buttons{
  display:flex;
}
.addToCart{
  height:50px;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-weight:bold;
  text-align:center;
  width:80%;
  margin-top:38%;
}


.addToCart:hover{
  background-color:#186318;
}

.quantityButton{
  display:flex;
  width:30%;
  margin-left:2%;
  margin-top: 41%;

}


hr{
  width:100%;
  color:gray;
}

.quantity{
  background-color:white;
  padding:1%;
  border-radius:10px;
  height:50%;
  width:50%;
}

.quantity-text{
  font-size:20px;
  margin-left:40%;
  margin-top:-1%;
}

.minusQuantity{
  width:30%;
  height:60%;
  font-size:20px;
  margin-right:5%;
  border-radius:10px;
  background-color:white;
}

.addQuantity{
  width:30%;
  height:60%;
  font-size:20px;
  margin-left:5%;
  border-radius:10px;
  background-color:white;
}


.b-table{
  width:90%;
  margin-left:5%;
  background-color: transparent;
  table-layout:fixed;
  
}

.basketItemImg{
  width:90%;
  height:50%;
  margin-left:6%;
}

.basket-td{
  text-align:center;
  font-size:15px;
  background-color: transparent;
  
 
}

.quantity-td{
  padding-top:25%;
  margin:10%;
  width:20%;
  font-size:15px;
  background-color: transparent;
  padding-left:22%;
  display:flex;
 
}
.price-td{
  margin:10%;
  width:30%;
  font-size:15px;
  background-color: transparent;
  padding-left:8%;
 
}

.remove-td{
  margin:10%;
  width:20%;
  font-size:15px;
  background-color: transparent;
  padding-left:6%;
 
}

.image-td{
  width:40%;
  background-color: transparent;
  padding-left:1px;
}

.basket-th{
  background-color:transparent;
  padding-top:30px;
  padding-left:40px;
}

.deleteBasketBtn{
  background:transparent;
  border-style:none;
  width:60%;
  height:60%;
}
.deleteBasket{
  width:40%;
  height:40%;
}

.minusBasketQuantity{
  margin-right:50%;
  border:none;
  font-size:20px;
  border-radius:10px;
  background-color:white;
}

.addBasketQuantity{
  margin-left:50%;
  border:none;
  font-size:20px;
  border-radius:10px;
  background-color:white;
}

.total-sticky{
 color:white;
 position:sticky;
 top:85%;
 left:39%;
 width: 20%;
 border-radius: 10px;
 padding:1%;
 height:40%;
}

.total-text{
  margin-left:32%;
}

.checkoutBtn{
  height:50px;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-weight:bold;
  text-align:center;
  width:80%;
  margin-left:10%;
  margin-top:1%;
  margin-bottom:10%;
}

.checkoutBtn:hover{
  background-color:#186318;
}

.summary-container{
  width:60%;
  margin-top:5%;
  margin-left:20%;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  z-index:3;
}

.summary-txt{
  margin-left:38%;
}

.checkout-item-txt{
  margin-left:8%;
  font-weight:bold;
}

.item-summary-details{
  display:flex;
  padding:0;
  width:100%;
  padding:0;
  margin-bottom:5%;
  
}

.summary-details{
  display:flex;
  padding:0;
  margin:0;
  width: 38%;
}

.summary-img{
  width:20%;
  height:150px;
}

.summary-division{
  margin-left:10%;
  padding:0;
  width:100%;
  margin-right:100%;
}

.summary-name{
  width:100%;
  font-weight: bold;
}

.summary-price{
  width:max-content;
}

.summary-quantity{
  width:max-content;

}

.summary-subtotal{
  
  
}


.summary-total-txt{
  font-weight:bold;
  margin-left:20%;
}

.summary-total-amount-txt{
  font-weight:bold;
  margin-left:75%;
  margin-top:-5%;
}

.summary-hr{
  width:90%;
}

.address-txt{
  margin-left:8%;
  margin-top:3%;
  font-weight:bold;
}


.address-field{
  padding:20px;
  width: 75%;
  height:25px;
  border-style: solid;
  border-radius:30px;
  border-width:0.1px;
  background-color:#878786;
  border-color:white;
  margin-left:10%;
  margin-top:3%;
  margin-bottom:5%;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color:white;
}

.confirm-order{
  height:50px;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-weight:bold;
  text-align:center;
  width:50%;
  margin-left:25%;
  margin-top:4%;
  margin-bottom:5%;
}

.orders-hr{
  width:90%;

}

.order-detail-container{
   width:90%;
  margin-top:5%;
  margin-left:5%;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  z-index:0;
}

.my-order-text{
  margin-left:5%;
  margin-top:3%;
  padding:0;
  margin-bottom:-4%;
  color:white;
}


.order-top{
  padding-bottom:3%;
}
.order_id_txt{
  display:flex;
  margin-left:3%;
  padding:0.3%;
  
  
}

.order-id{
  margin-left:1%;
  background-color:gray;
  border-radius:10px;
  width:5%;
  text-align: center;
}

.order-date{
  margin-left:25%;
  margin-top:-4%;
  background-color:gray;
  border-radius:10px;
  width:20%;
  padding:0.3%;
  text-align: center;
}

.order-status{
  margin-left:80%;
  margin-top:-4%;
  background-color:green;
  border-radius:10px;
  width:10%;
  padding:1%;
  text-align: center;
}

.order-items-div{
  display:flex;
  padding:3%;
}

.order-img{
  width:20%;
}

.order-details-div{
  display:block;
  margin-left:1%;
  width:10%;
}

.order-item-name{
  font-weight:bold;
  font-size:20px;
}


.order-subtotal{
  margin-left:50%;
  margin-top:5%;
}

.order-total{
  font-size:20px;
  font-weight:bold;
  margin-left:75%;
}

.cancelOrderBtn{
  margin-left:50%;
  margin-top:4%;
  border-color:white;
  border-style:groove;
  width:15%;
  background-color:transparent;
  color:white;
  font-family: "Montserrat", sans-serif;
  margin-bottom:5%;
}

.cancelOrderBtn:hover{
  background-color: #404040;
}



.delivery-details-container{
  margin-top:3%;
  margin-left:5%;
  margin-bottom:3%;
}

.order-details-bottom{
  display:flex;
}

.adminOrderTable{
  border-collapse:collapse;
	background-color:white;
	text-align:center;
	overflow:hidden;
  width:80%;
	position:relative;
	margin-left:9.5%;
  margin-top:5%;
  align-items:center;
  
}

.order-th{
  padding-top:30px;
  padding-left:48px;
  text-align:center;
  margin:1px;
}

.order-summary-details-div{
  display:flex;
  padding:0;
  width:100%;
  padding:0;
  margin-bottom:5%;
  
}

.order-summary-details{
  display:flex;
  padding:0;
  margin:0;
}

.order-summary-img{
  width:30%;
  height:150px;
}

.order-summary-division{
  margin-left:10%;
  padding:0;
  width:100%;
  margin-right:100%;
}

.order-summary-name{
  width:100%;
  font-weight: bold;
}

.order-summary-price{
  width:max-content;
}

.order-summary-quantity{
  width:max-content;

}

.order-summary-subtotal{
  margin-top:13%;
  margin-left:13%;
}


.order-summary-total{
  margin-top:180px; 
  display:flex;
  margin-left:-28%;
  width:100%;
  font-weight:bold;
}
.order-summary-total-txt{
  
}

.order-summary-total-amount-txt{
  margin-left:10%;
  width:100px;

}

.ordersView{
  width:60%;
  margin-top:5%;
  margin-left:20%;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  z-index:3;
  display:block;

}

.closeBtn3{
  position: absolute;
  top: 50%;
  left:75%;

  font-size: 36px;
  background-color:transparent;
  color:white;
  border-style: none;

}

.viewOrderItems{
  border-color:white;
  border-style:groove;
  width:80%;
  background-color:transparent;
  color:white;
  font-family: "Montserrat", sans-serif;
}


.updateBtn{
   border-color:white;
  border-style:groove;
  width:90%;
  height:50px;
  background-color:transparent;
  color:white;
  font-family: "Montserrat", sans-serif;
}

.editOrderStatusForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position:fixed;
  left:30%;
  max-width:600px;
  height:700;
  margin:1px auto;
  background-color:#222324;
  align-items:center;
  border-radius:30px;
  color:white;
  padding-top:30px;
  border-style:double;
  border-color:#4a4d4a;
  top:30%;
  width:50%;
  z-index:3;
}

.closeBtn4{
  position: absolute;
  top: 5%;
  left:85%;
  font-size: 36px;
  background-color:transparent;
  color:white;
  border-style: none;

}

.orStatusForm{
  width:80%;
  align-items:center;
}
.selectOrderStatus{
  width:90%;
  margin-left:5%;
  height:30px;
  border-radius:30px;
  padding:1%;
  font-family: "Montserrat", sans-serif;
  margin-bottom:5%;
  
}

.submitOrderStatusBtn{
  width:40%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  height:30px;
  margin-left:28%;
  margin-bottom:8%;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:15px;
  font-weight:bold;
}

.adminDeliveryTable{
  border-collapse:collapse;
	background-color:white;
	text-align:center;
	overflow:hidden;
  width:80%;
	position:relative;
	margin-left:10%;
  margin-top:5%;
  align-items:center;
  
}

.delivery-list-table-table{
  border-collapse:collapse;
	background-color:white;
	text-align:center;
	overflow:hidden;
  width:95%;
	position:relative;
	margin-left:2.5%;
  margin-top:5%;
  align-items:center;
}

.delivery-list-th{
  padding-top:30px;
  padding-left:48px;
}

.delivery-items-td{
  font-size:10px;
}

.delivery-th{
  padding-top:30px;
  padding-left:48px;
}

.order-items-td{
  display:block;
  text-align:left;
  padding:0;
  padding-right:20px;
}

.td-oi{
  display:flex;
  padding:0;
}



.orderHistoryBtn{
  position:absolute;
  width:10%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  height:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:15px;
  font-weight:bold;
  left:80%;
  top:22%;
}

.search-btn{
  width:5%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:50px;
  height:55px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:15px;
  font-weight:bold;
  position:absolute;
  right:53%;
  top:71%;
}

.search-icon{
  width:30%;
}

.search-results-txt{
  color:white;
  margin-left:3%;
  margin-top:3%;
  font-size:40px;
}

.no-results-txt{
  margin-left:3%;
  margin-top:5%;
}

.goToRegister{
  margin-bottom:4%;
  margin-right:2%;
}

.otherLogin{
  position:absolute;
  top:3%;
  left:3%;
  display:flex;
  width:40%;
}

.goToAdminLogin{
   width:30%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  height:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:15px;
  font-weight:bold;
}

.goToDeliveryLogin{
   width:40%;
  background-image: linear-gradient(to right, #56C789, #096E22);
  border-style: none;
  border-radius:30px;
  height:30px;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size:15px;
  font-weight:bold;
  margin-left:3%;
}